@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color-primary {
  background-color: #390714;
}

.border-accent {
  border-color: #390714;
}

.text-accent {
  color: #80273e;
}

.bg-accent {
  background-color: #80273e;
}