---
import Navbar from "../components/Navbar.astro";
---
<Navbar />
<main class="max-w-4xl mx-auto my-12 p-6 bg-white shadow-lg rounded-lg">
  <h1 class="text-3xl font-bold mb-4">About</h1>
  <p>INSERT MORE TEXT HERE</p>
</main>