---
import Layout from '../layouts/Layout.astro';
---
<Layout>
	<div class="flex items-center justify-center">
	<div class="text-center">
		<img src="/app-icon-1024.png" alt="Fast & Pray Logo" class="w-32 h-32 mx-auto mb-4">
		<h1 class="text-5xl font-extrabold">Welcome to Fast & Pray</h1>
		<p class="text-lg mt-4">Join us as we Fast & Pray.</p>
		<a href="https://apps.apple.com" target="_blank" class="mt-6 inline-block px-6 py-3 bg-blue-600 text-white font-semibold rounded-md shadow hover:bg-blue-700">
		Download the App
		</a>
	</div>
	</div>
</Layout>