---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <h1 class="text-3xl font-bold mb-4">Support</h1>
  
  <div class="prose">
    <h2>Join the team</h2>
    <p>We are seeking Frontend Engineers and SysOps Support to join our team and enhance the digital outreach of our ministry. If you are in IT, we would love to hear from you!</p>
    <h2>Donate to Fast & Pray</h2>
    <p>Become a supporter of the Fast & Pray mission by donating to our fund.</p>
    <a href="https://stjohnchurch.fellowshiponego.com/external/form/da738f5e-2289-41cb-85e4-85ccc955b45a" class="bg-color-primary text-white px-6 py-3 text-lg rounded-md mt-4 inline-block">Donate</a>
  </div>
</Layout>
