---
import Layout from '../layouts/Layout.astro';
---
<Layout>    
<main class="max-w-4xl mx-auto my-12 p-6 bg-white shadow-lg rounded-lg">
  <h1 class="text-3xl font-bold mb-4">Support</h1>
  <p>Become a supporter of the Fast & Pray mission by donating to our fund.</p>
  <p>insert donation form here</p>
</main>
</Layout>