---
import Layout from '../layouts/Layout.astro';
---
<Layout>    
  <h1 class="text-3xl font-bold mb-4">Support</h1>
  <p>Become a supporter of the Fast & Pray mission by donating to our fund.</p>
  <a href="https://stjohnchurch.fellowshiponego.com/external/form/da738f5e-2289-41cb-85e4-85ccc955b45a" class="bg-color-primary text-white px-6 py-3 text-lg rounded-md mt-4 inline-block">Donate</a>
</Layout>
