---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <h1 class="text-3xl font-bold mb-4">Our Team</h1>
  <p>We are a team of dedicated individuals who are passionate about helping people connect with God through prayer and fasting.</p>
  <!-- Team Members cards with circle avatars name and role and short description -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 my-6">
    <!-- Fr. Mesrop Ash -->
    <div class="bg-white p-4 rounded-lg shadow-md">
      <img src="/fr-mesrop-ash.png" alt="Fr. Mesrop Ash Avatar" class="w-24 h-24 rounded-full mx-auto mb-4">
      <h2 class="text-xl font-bold mb-2">Fr. Mesrop Ash</h2>
      <p class="text-gray-600">Spiritual Advisor & Project Leader</p>
      <p class="mt-2">
        Fr. Mesrop serves as the parish priest of St. John Armenian Church in San Francisco and is the project leader of Fast & Pray. 
        With a background in web development, he combines technology and faith to create tools that inspire spiritual growth.
      </p>
    </div>
    <!-- Dn. Andrew Ylitalo -->
    <div class="bg-white p-4 rounded-lg shadow-md">
      <img src="/dn-andrew-ylitalo.jpg" alt="Dn. Andrew Ylitalo Avatar" class="w-24 h-24 rounded-full mx-auto mb-4">
      <h2 class="text-xl font-bold mb-2">Dn. Andrew Ylitalo</h2>
      <p class="text-gray-600">INSERT</p>
      <p class="mt-2">
        Dn. Andrew also serves at St. John and has a passion for discovering and sharing how the practices of the Armenian Church can bring us closer to Christ.
        With his background as a deacon and as a software engineer, 
        he helps ensure the app is both spiritually meaningful and technically robust.
      </p>
    </div>
  </div>
  <h1 class="text-2xl font-bold mb-4">Acknowledgments</h1>
  <p class="mb-4">We thank everyone who has supported Fast & Pray.</p>
  <!-- A list of individuals & organizations and a description of what they have contributed -->
   <dl>
    <dt class="font-bold">His Holiness Catholicos Karekin II</dt>
    <dd class="mb-2">
      <p>For his spiritual guidance and leadership of the Armenian Apostolic Church.</p>
    </dd>
    <dt class="font-bold">Archbishop Hovnan Derderian</dt>
    <dd class="mb-2">
      <p>For his unwavering support and encouragement of this initative and all efforts strentgthen the Western Diocese of the Armenian Church.</p>
    </dd>
    <dt class="font-bold">Bishop Daniel Findikyan</dt>
    <dd class="mb-2">
      <p>For his precious insight and the many valuable educational resources privided to give meaning and structure to this tool.</p>
    </dd>
    <dt class="font-bold">Fr. Hovel Ohanyan</dt>
    <dd class="mb-2">
      <p>For his invaluable work in translating the user interface into Armenian.</p>
    </dd>
    <dt class="font-bold">Tom Samuelian</dt>
    <dd class="mb-2">
      <p>For providing one of a kind resources about the intricacies of the Armenian Church calendar.</p>
    </dd>
    <dt class="font-bold">Rev. Dr. Archdeacon George A. Leylegian</dt>
    <dd class="mb-2">
      <p>For insightful discussions and for sharing his research findings.</p>
    </dd>
    <dt class="font-bold">Daily Worship</dt>
    <dd class="mb-2">
      <p>For generously providing the daily readings that inspire and guide users in their spiritual journey.</p>
    </dd>
    <dt class="font-bold">Catena Bible Team</dt>
    <dd class="mb-2">
      <p>For their work in making Scripture accessible and providing tools that complement our app’s mission.</p>
    </dd>
    <dt class="font-bold">Our Beta Testers and the Faithful of St. John Armenian Church</dt>
    <dd class="mb-2">
      <p>For their encouragement, feedback, and unwavering support throughout the development of this app.</p>
    </dd>
   </dl>
</Layout>
