---
// Footer logic if needed
---

<footer>
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center h-16 border-t border-accent"
  >
    <p>© 2025 Fast & Pray</p>
    <div class="flex space-x-4">
      <a href="/privacy" class="hover:text-gray-300">Privacy Policy</a>
      <a href="/terms" class="hover:text-gray-300">Terms of Service</a>
    </div>
  </div>
</footer>
